*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  gap: 30px;
  align-items: end;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin-block-end: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  background-color: transparent;
  color: rgba(255, 255, 255);
  font-weight: 400;
  font-size: 18px;
  font-family: inherit;
  line-height: 1.2;
  min-inline-size: 225px;
  min-block-size: 27px;
  border: none;
  border-top: 1px solid rgb(255, 255, 255, 1);
  border-bottom: 1px solid rgb(255, 255, 255, 1); 
  padding: 0;
  text-align: start;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border: 1px solid rgb(255, 255, 255);
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: flex;
  content: '';
  block-size: 15px;
  inline-size: 15px;
  background-color: rgb(255, 255, 255);
}

.search-form__pseudo-checkbox {
  display: flex;
  cursor: pointer;
  block-size: 19px;
  inline-size: 19px;
  justify-content: center;
  align-self: center;
  align-items: center;
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
}

.search-form__label:hover .search-form__label-text {
  cursor: pointer;
  text-decoration: underline;
}

.button {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 1);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 1px;
}

.search-form__submit-button {
  block-size: 34px;
  inline-size: 194px;
  align-self: flex-end;
}

.content__details {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  gap: 26px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.content__accent {
  color: rgb(255, 255, 255, 0.2);
}

.content__list {
  block-size: 298px;
  overflow: auto;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255) transparent;
}

.content__list-item {
  margin-block-end: 30px;
 }
 
 .content__list-item:last-child {
  margin-block-end: 0;
 }

 .content__card-link {
  margin: 2px;
  padding: 2px;
  display: block;
  text-decoration: none;
  color: inherit;
 }

 .content__card-link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.content__list-item:active { 
  background-color: rgba(84, 80, 80, 1); 
}

 .content__card-link:focus {
   outline: none;
 }
 
 .content__card-link:focus-visible {
   outline: 1px solid rgb(255, 255, 255);
   outline-offset: 1px;
 }

 .content__card-link_current {
  background-color: rgba(84, 80, 80);
 }

 .content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  inline-size: 100%;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin-block-end: 6px;
  max-inline-size: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 0.9;
  font-weight: 400;
}

.content__video-card-thumbnail {
  block-size: 103px;
  min-inline-size: 194px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  margin: 2px;
  margin-block-start: 30px;
  inline-size: 99%;
  min-block-size: 34px;
}